[Interface]
Address = 10.20.0.1/30
PrivateKey = REPLACE_WITH_HK_PRIVATE_KEY

[Peer]
PublicKey = REPLACE_WITH_US_PUBLIC_KEY
Endpoint = REPLACE_WITH_US_PUBLIC_IP:51820
AllowedIPs = 10.20.0.2/32
PersistentKeepalive = 25
